<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ReportNotifications.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
    <userSettings>
        <ReportNotifications.Properties.Settings>
            <setting name="CIPS" serializeAs="String">
                <value>Data Source=(local);Initial Catalog=CIPS;Integrated Security=true</value>
            </setting>
            <setting name="RxBackend" serializeAs="String">
                <value>Data Source=(local);Initial Catalog=RxBackend;Integrated Security=true</value>
            </setting>
            <setting name="FAC_COLUMN" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="NotifyExports" serializeAs="String">
                <value />
            </setting>
            <setting name="NotifyReport" serializeAs="String">
                <value />
            </setting>
            <setting name="EmailAddress" serializeAs="String">
                <value>zrefugee@gmail.com</value>
            </setting>
            <setting name="EmailPassword" serializeAs="String">
                <value>/wfORGDSeIA=</value>
            </setting>
            <setting name="EmailServer" serializeAs="String">
                <value>outlook.office365.com</value>
            </setting>
            <setting name="Mailbox" serializeAs="String">
                <value>IHS</value>
            </setting>
        </ReportNotifications.Properties.Settings>
    </userSettings>
</configuration>