<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ReportNotifications.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
    <userSettings>
        <ReportNotifications.Properties.Settings>
            <setting name="CONN_CIPS" serializeAs="String">
                <value>Data Source=(local);Initial Catalog=CIPS;Integrated Security=true</value>
            </setting>
            <setting name="CONN_RX" serializeAs="String">
                <value>Data Source=(local);Initial Catalog=RxBackend;Integrated Security=true</value>
            </setting>
            <setting name="FAC_COLUMN" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="NOTIFY_RPT" serializeAs="String">
                <value>test.rpt</value>
            </setting>
        </ReportNotifications.Properties.Settings>
    </userSettings>
</configuration>